@tailwind base;
@tailwind components;
@tailwind utilities;

.cookify-theme-light {
    --c-text: rgb(0, 0, 0);
    --c-text-support: rgb(192, 192, 192);
    --c-border: rgb(229 231 235);
    --c-border-radius: 0.5rem;
    --c-bg-primary: rgb(255, 255, 255);
    --c-bg-secondary: rgb(243, 244, 246);
    --c-collapse-bar-bg: rgb(209, 213, 219);
    --c-collapse-bar-bg-hover: rgb(182, 185, 191);
    --c-collapse-bar-text: rgb(0, 0, 0);
    --c-collapse-extend-bg: rgb(242, 243, 245);
    --c-collapse-extend-text: rgb(0, 0, 0);
    --c-collapse-extend-border: rgb(229 231 235);
    --c-collapse-extend-padding: 0.5rem;
    --c-collapse-table-header-bg: rgb(225, 228, 232);
    --c-collapse-table-hover-bg: rgb(236, 237, 240);
    --c-body-border-radius: 0.5rem;
    --c-toggle-off: rgb(55, 65, 81);
    --c-toggle-on: rgb(36, 99, 235);
    --c-toggle-knob: rgb(255, 255, 255);
    --c-toggle-ring: rgb(29, 64, 175);
    --c-badge-bg: rgb(36, 99, 235);
    --c-badge-text: rgb(255, 255, 255);
    --c-badge-border-radius: 0.5rem;
    --c-btn-strong-bg: rgb(36, 99, 235);
    --c-btn-strong-text: rgb(255, 255, 255);
    --c-btn-week-bg: rgb(75, 85, 99);
    --c-btn-week-text: rgb(255, 255, 255);
    --c-btn-border-radius: 0.375rem;
}

.cookify-theme-dark {
    --c-text: rgb(255, 255, 255);
    --c-text-support: rgb(128, 128, 128);
    --c-border: rgb(26, 26, 26);
    --c-border-radius: 0.5rem;
    --c-bg-primary: rgb(34, 34, 34);
    --c-bg-secondary: rgb(82, 82, 82);
    --c-collapse-bar-bg: rgb(209, 213, 219);
    --c-collapse-bar-bg-hover: rgb(182, 185, 191);
    --c-collapse-bar-text: rgb(0, 0, 0);
    --c-collapse-extend-bg: rgb(242, 243, 245);
    --c-collapse-extend-text: rgb(0, 0, 0);
    --c-collapse-extend-border: rgb(229 231 235);
    --c-collapse-extend-padding: 0.5rem;
    --c-collapse-table-header-bg: rgb(225, 228, 232);
    --c-collapse-table-hover-bg: rgb(236, 237, 240);
    --c-body-border-radius: 0.5rem;
    --c-toggle-off: rgb(55, 65, 81);
    --c-toggle-on: rgb(36, 99, 235);
    --c-toggle-knob: rgb(255, 255, 255);
    --c-toggle-ring: rgb(29, 64, 175);
    --c-badge-bg: rgb(36, 99, 235);
    --c-badge-text: rgb(255, 255, 255);
    --c-badge-border-radius: 0.5rem;
    --c-btn-strong-bg: rgb(36, 99, 235);
    --c-btn-strong-text: rgb(255, 255, 255);
    --c-btn-week-bg: rgb(75, 85, 99);
    --c-btn-week-text: rgb(255, 255, 255);
    --c-btn-border-radius: 0.375rem;
}

.cookify-theme-high-contrast {
    --c-text: rgb(255, 255, 255);
    --c-text-support: rgb(255, 255, 0);
    --c-border: rgb(255, 255, 255);
    --c-border-radius: 0rem;
    --c-bg-primary: rgb(0, 0, 0);
    --c-bg-secondary: rgb(0, 0, 0);
    --c-collapse-bar-bg: rgb(255, 255, 255);
    --c-collapse-bar-bg-hover: rgb(255, 255, 255);
    --c-collapse-bar-text: rgb(0, 0, 0);
    --c-collapse-extend-bg: rgb(0, 0, 0);
    --c-collapse-extend-text: rgb(255, 255, 255);
    --c-collapse-extend-border: rgb(255, 255, 255);
    --c-collapse-extend-padding: 0rem;
    --c-collapse-table-header-bg: rgb(0, 0, 0);
    --c-collapse-table-hover-bg: rgb(0, 0, 0);
    --c-body-border-radius: 0rem;
    --c-toggle-off: rgb(0, 0, 0);
    --c-toggle-on: rgb(62, 242, 62);
    --c-toggle-knob: rgb(255, 255, 255);
    --c-toggle-ring: rgb(255, 255, 255);
    --c-badge-bg: rgb(0, 0, 0);
    --c-badge-text: rgb(255, 255, 255);
    --c-badge-border-radius: 0rem;
    --c-btn-strong-bg: rgb(255, 255, 0);
    --c-btn-strong-text: rgb(0, 0, 0);
    --c-btn-week-bg: rgb(255, 255, 255);
    --c-btn-week-text: rgb(0, 0, 0);
    --c-btn-border-radius: 0rem;
}